
<div class="wrapper_with_padding">
  <div id="doc_show">
    <h1  class="title"><%= @doc.title%></h1>
    <p><%= simple_format(@doc.content)%></p>
    <div class="butt">
      <%= link_to "All docs", docs_path, class: "button" %>
      <%= link_to "Fix doc", edit_doc_path(@doc), class: "button" %>
      <%= link_to "Trash it", docs_path(@doc), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
    </div>
  </div>
</div>

